.value {
    position: absolute;
    left: 400px;
    input {
        cursor: pointer;
        height: 20px;
        border: 1px solid gray;
        border-radius: 3px 0 0 3px;
        border-right: none;
    }
    button {
        cursor: pointer;
        width: 42px;
        height: 24px;
        padding: 0;
        border: 1px solid gray;
        border-radius: 0 3px 3px 0;
        background-color: #fad109;
    }
    tr {
        td {
            margin: 5px;
        }
        .completed {
            cursor: pointer;
            width: 47px;
            margin: 5px;
            border: none;
            background-color: rgb(141, 16, 7);
            color: white;
            border-radius: 0;
        }
    }
}